body {
    background-color: black;
    margin: 30px;
}

h1 {
    color: red;
    font-family: sans-serif;
}

p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 100px;
    height: 200px;
}

.someclass {
    width: 200px;
    height: 100px;
}